
ul{
    list-style-type: none;
    display:flex;
}
li{
    width: 100px;
    border: 1px solid grey;
}
a{
    text-decoration: none;
}

.pull-right{
    text-align: right;
}
th{
    background-color: darkgrey;
    color:white;
}
table{
    border:1px solid grey;
}

.status-text{
    font-size:30px;
    color:black;
    padding-right:5px;
}
.flex-container{
    display:flex;

    div{
        margin: 0 20px;
    }
}
